{{ range . }}
<div class="scrollable-item">
    <div class="item-info">
        <strong>Nombre: </strong>{{ .Name }}<br>
        <strong>Archivo: </strong>{{ .Filename }}<br>
        <strong>Fecha de estudio: </strong>{{ .Date }}<br>
        <strong>Tipo: </strong>{{ .Type }}<br>
        <strong>Descripción: </strong>{{ .Description }}<br>
    </div>
    <div class="medical-study-options">
        <button onclick="window.location.href='/medical_study/edit?filename={{ .Filename }}'">Editar</button>
        <a href="/medical_study/file?filename={{ .Filename }}" class="button">⬇ Descargar</a>
    </div>
</div>
{{ end }}
